<div class="row">
<div class="container">
    <app-form-debug [form]="form" *ngIf="isDebug"></app-form-debug>

    <div class="clearfix"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <ng-content select="section.content"></ng-content>

        </div>
    </div>
</div>
</div>