<div *ngIf="mostrarErro">
    <span class="glyphicon glyphicon-remove form-control-feedback">
    </span>
    <span class="sr-only">(error)</span>
    <div class="alert alert-danger" role="alert">
                {{ msgErro }}
    </div>  
</div>

